<div class="c-friends c-friends--white">
  <h1 class="c-subtitle">People who likes<br>Game of Thrones</h1>
  <ul class="c-list--friends">
    <li class="c-profile h-clearfix">
      <img src="assets/images/friends/casey.jpg" alt="Profile picture" class="c-profile__img" />
      <ul class="c-list c-list--profile">
        <li><h2 class="c-list__name c-list__name--friends">Casey</h2></li>
        <li><p class="c-list__social"><a href="/chat.html">Chat</a><a href="/add-friend.html">Add friend</a></p></li>
      </ul>
    </li>
    <li class="c-profile h-clearfix">
      <img src="assets/images/friends/karlie.jpg" alt="Profile picture" class="c-profile__img" />
      <ul class="c-list c-list--profile">
        <li><h2 class="c-list__name c-list__name--friends">Karlie</h2></li>
        <li><p class="c-list__social"><a href="/chat.html">Chat</a><a href="/add-friend.html">Add friend</a></p></li>
      </ul>
    </li>
    <li class="c-profile h-clearfix">
      <img src="assets/images/friends/elon.jpg" alt="Profile picture" class="c-profile__img" />
      <ul class="c-list c-list--profile">
        <li><h2 class="c-list__name c-list__name--friends">Elon</h2></li>
        <li><p class="c-list__social"><a href="/chat.html">Chat</a><a href="/add-friend.html">Add friend</a></p></li>
      </ul>
    </li>
    <li class="c-profile h-clearfix">
      <img src="assets/images/friends/marne.jpg" alt="Profile picture" class="c-profile__img" />
      <ul class="c-list c-list--profile">
        <li><h2 class="c-list__name c-list__name--friends">Marne</h2></li>
        <li><p class="c-list__social"><a href="/chat.html">Chat</a><a href="/add-friend.html">Add friend</a></p></li>
      </ul>
    </li>
    <li class="c-profile h-clearfix">
      <img src="assets/images/friends/travis.jpg" alt="Profile picture" class="c-profile__img" />
      <ul class="c-list c-list--profile">
        <li><h2 class="c-list__name c-list__name--friends">Travis</h2></li>
        <li><p class="c-list__social"><a href="/chat.html">Chat</a><a href="/add-friend.html">Add friend</a></p></li>
      </ul>
    </li>
    <li class="c-profile h-clearfix">
      <img src="assets/images/friends/jessica.jpg" alt="Profile picture" class="c-profile__img" />
      <ul class="c-list c-list--profile">
        <li><h2 class="c-list__name c-list__name--friends">Jessica</h2></li>
        <li><p class="c-list__social"><a href="/chat.html">Chat</a><a href="/add-friend.html">Add friend</a></p></li>
      </ul>
    </li>
  </ul>
</div>
