<main class="l-discover">
  <h1 class="c-title">Discover</h1>
  <ul class="c-list c-list--discover">
    <li>
      <a href="/breaking-bad.html">
        <img src="assets/images/show/breaking-bad.jpg" alt="Breaking Bad Cover" class="c-list__cover">
        <h2 class="c-list__show">Breaking Bad</h2>
        <p class="c-list__experience-gain">30 xp</p>
      </a>
    </li>
    <li>
      <a href="/mr-robot.html">
        <img src="assets/images/show/mr-robot.jpg" alt="Mr Robot Cover" class="c-list__cover">
        <h2 class="c-list__show">Mr Robot</h2>
        <p class="c-list__experience-gain">50 xp</p>
      </a>
    </li>
    <li>
      <a href="/the-sopranos.html">
        <img src="assets/images/show/the-sopranos.jpg" alt="The Sopranos Cover" class="c-list__cover">
        <h2 class="c-list__show">The Sopranos</h2>
        <p class="c-list__experience-gain">25 xp</p>
      </a>
    </li>
    <li>
      <a href="/the-wire.html">
        <img src="assets/images/show/the-wire.jpg" alt="The Wire Cover" class="c-list__cover">
        <h2 class="c-list__show">The Wire</h2>
        <p class="c-list__experience-gain">75 xp</p>
      </a>
    </li>
    <li>
      <a href="/dexter.html">
        <img src="assets/images/show/dexter.jpg" alt="Dexter Cover" class="c-list__cover">
        <h2 class="c-list__show">Dexter</h2>
        <p class="c-list__experience-gain">35 xp</p>
      </a>
    </li>
    <li>
      <a href="/mad-men.html">
        <img src="assets/images/show/mad-men.jpg" alt="Mad Men Cover" class="c-list__cover">
        <h2 class="c-list__show">Mad Men</h2>
        <p class="c-list__experience-gain">55 xp</p>
      </a>
    </li>
    <li>
      <a href="/sons-of-anarchy.html">
        <img src="assets/images/show/sons-of-anarchy.jpg" alt="Son of Anarchy Cover" class="c-list__cover">
        <h2 class="c-list__show">Son of Anarchy</h2>
        <p class="c-list__experience-gain">65 xp</p>
      </a>
    </li>
    <li>
      <a href="/weeds.html">
        <img src="assets/images/show/weeds.jpg" alt="Weeds Cover" class="c-list__cover">
        <h2 class="c-list__show">Weeds</h2>
        <p class="c-list__experience-gain">45 xp</p>
      </a>
    </li>
    <li>
      <a href="/lost.html">
        <img src="assets/images/show/lost.jpg" alt="Lost Cover" class="c-list__cover">
        <h2 class="c-list__show">Lost</h2>
        <p class="c-list__experience-gain">85 xp</p>
      </a>
    </li>
    <li>
      <a href="/oz.html">
        <img src="assets/images/show/oz.jpg" alt="Oz Cover" class="c-list__cover">
        <h2 class="c-list__show">Oz</h2>
        <p class="c-list__experience-gain">20 xp</p>
      </a>
    </li>
    <li>
      <a href="/entourage.html">
        <img src="assets/images/show/entourage.jpg" alt="Entourage Cover" class="c-list__cover">
        <h2 class="c-list__show">Entourage</h2>
        <p class="c-list__experience-gain">70 xp</p>
      </a>
    </li>
    <li>
      <a href="/californication.html">
        <img src="assets/images/show/californication.jpg" alt="Californication Cover" class="c-list__cover">
        <h2 class="c-list__show">Californication</h2>
        <p class="c-list__experience-gain">80 xp</p>
      </a>
    </li>
  </ul>
</main>
